{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Celibrity</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
      .button1 {background-color: black;}
      .fa {font-size: 25px;}
      .checked {color: orange;}
      .detailbody {padding-left: 300px;padding-top: 20px;padding-right: 300px; width: 100%;}
  </style>
</head>
<body style="background-color: black;">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><b style="color: white;">Celebcam</b></a>
          </div>
          <div class="d-flex align-items-center">
            <form class="navbar-form navbar-right">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="search">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
              {% if userName is None  %}
              <li><a href= "login"><span class="glyphicon glyphicon-log-in" ></span><b> Login</b></a></li>
              {#<li><a href= "login" ><span class="glyphicon glyphicon-log-in" ></span><b> Login</b></a></li>#}
              {% else %}
              <li><p class="navbar-brand" style="color: blanchedalmond;"><b>Hello {{ userName }}</b></p></li>
              <li><a href= "{% url 'logout' %}"><span class="glyphicon glyphicon-off" ></span><b> LogOut</b></a></li>
              {#<li><a href= "{% url 'logout' %}" ><span class="glyphicon glyphicon-off" ></span><b> LogOut</b></a></li>#}
              {% endif %}
              {% if status %}
              <li><a href="{% url 'chat' %}?i={{ otheruser }}">
              <span class="glyphicon glyphicon-comment"></span>
              </a></li>
              {% endif %}
            </ul>
        </div>
        </div>
      </nav>

    <div class="row">
            <div class="container p-3 my-3 bg-dark text-white" style="width: 95%;">
                <h1 style="color: cornsilk;">Requests For you</h1>
                {% for data in datas %}
                <div class="container p-2 my-2 bg-primary text-white">
                  <h1>Requested By {{data.loginuser}}</h1>
                  <h1>For {{data.servicetype}}</h1>
                  <p>Message: {{data.message}}</p>
                  <form action="{% url 'upload' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="requestuser" name="requestuser" value="{{data.loginuser}}">
                    <input type="hidden" id="celebrityname" name="celebrityname" value="{{userName}}">
                    <label for="img">Select Video:</label>
                    <input type="file" id="video" name="video" accept="video/*">
                    <button type="submit" class="btn btn-info">Upload</button>
                  </form>
                </div>
                <br>
                {% endfor %}
                {% for data in chatdatas %}
                <div class="container p-2 my-2 bg-primary text-white">
                  <h1>Requested By {{data.loginuser}}</h1>
                  <h1>For {{data.servicetype}}</h1>
                  <p>Select data and time:</p>
                  <form action="{% url 'chattime' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="requestuser" name="requestuser" value="{{data.loginuser}}">
                    <input type="hidden" id="celebrityname" name="celebrityname" value="{{userName}}">
                    <input type="datetime-local" id="daytime" name="daytime" style="color: black;">
                    <input type="submit" style="color: black;">
                  </form>
                </div>
                <br>
                {% endfor %}
              </div>
        
    </div>
</body>
</html>